<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Borrow Book</h1>
        </div>
        <div class="col-6 text-right">
          
        </div>
      </div>
    </div>
  </section>

  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="container">
              <div class="row">
                <div class="col col-lg-2">
                  <select class="form-control" (change)="changePageSize($event.target.value)" [(ngModel)]="pageSize">
                    <option *ngFor=" let ps of listPageSize"
                          [value]="ps.size">
                          {{ps.size}}
                    </option>
                  </select>
                </div>
                <div class="col-sm form-group">
                  <input type="text"
                      placeholder="Choose date"
                      class="form-control"
                      bsDatepicker
                      (bsValueChange)="valueFromDate($event)">
                </div>
                <div class="col-sm form-group">
                  <input type="text"
                      placeholder="Choose date"
                      class="form-control"
                      bsDatepicker
                      (bsValueChange)="valueToDate($event)">
                </div>

                <div class="col-sm">
                  <select class="form-control"  [(ngModel)]="month">
                    <option value="">Choose month</option>
                    <option *ngFor=" let m of listMonth"
                          [value]="m.m">
                          {{m.m}}
                    </option>
                  </select>
                </div>

                <div class="col-sm">
                  <button type="button" class="btn bg-blue" (click)="filter()">
                    <i class="fas fa-search"></i>
                  </button>

                  <button type="button" class="btn bg-secondary mx-3" (click)="setup()">
                    <i class="fas fa-redo-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead class="bg-light">
              <tr>
                <th>ID</th>
                <th>Date Borrow</th>
                <th>Date Repay</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let borrowBook of borrowBooks | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems:count }; let i = index">
                <td><a [routerLink]="['/app/borrow-book-detail',borrowBook.id]" routerLinkActive="active">BORROW{{i+1}}</a></td>
                <td>{{borrowBook.dateBorrow.format("YYYY/MM/DD")}}</td>
                <td>{{borrowBook.dateRepay.format("YYYY/MM/DD")}}</td>
                <td>{{borrowBook.status}}</td>
                <td>{{borrowBook.total}}</td>   
                <td>{{borrowBook.user}}</td>               
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: count }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <pagination-controls previousLabel="" nextLabel="" (pageChange)="onChangePage($event)"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>