<div [@routerTransition]>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h1>Publisher</h1>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:;" class="btn bg-blue" (click)="createPublisher()">
              <i class="fa fa-plus-square"></i>
              Create
            </a>
          </div>
        </div>
      </div>
    </section>
  
  
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <div class="input-group">

              <div class="col col-lg-2">
                <select style="width: 100px;" class="form-control" (change)="changePageSize($event.target.value)" [(ngModel)]="pageSize">
                  <option *ngFor=" let ps of listPageSize"
                        [value]="ps.size">
                        {{ps.size}}
                  </option>
                </select>
              </div>
              
              <input type="text" class="form-control" name="name" [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="name" />
              <div class="input-group-prepend">
                <button type="button" class="btn bg-blue" (click)="filter()">
                  <i class="fas fa-search"></i>
                </button>
                <button type="button" class="btn" (click)="setup()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead class="bg-light">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let publisher of publishers | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems:count}">
                  <td>{{ publisher.name }}</td>
                  <td>{{ publisher.email }}</td>
                  <td>{{ publisher.phone }}</td>
                  <td>{{ publisher.address }}</td>
                  <td>
                    <button type="button" class="btn btn-sm bg-secondary" (click)="editPublisher(publisher)">
                      <i class="fas fa-pencil-alt"></i>
                      Edit
                    </button>
                    <button type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(publisher)">
                      <i class="fas fa-trash"></i>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-light border-top">
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary" (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize: count }}
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <pagination-controls previousLabel="" nextLabel="" (pageChange)="onChangePage($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>