<div [@routerTransition]>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h1>Borrow Book Detail</h1>
          </div>
          <div class="col-6 text-right">
            <!-- <a href="javascript:;" class="btn bg-blue" (click)="createShop()">
                  <i class="fa fa-plus-square"></i>
                  Create
                </a> -->
          </div>
        </div>
      </div>
    </section>
  
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn bg-blue">
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input type="text" class="form-control" name="names" [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="names" />
            </div>
          </div>
  
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead class="bg-light">
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Author</th>
                  <th>Publisher</th>
                  <th>Price Borrow</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let borrowBookDetail of borrowBookDetails">
                  <td>{{ borrowBookDetail.book }}</td>
                  <td>{{ borrowBookDetail.category }}</td>
                  <td>{{ borrowBookDetail.author }}</td>
                  <td>{{ borrowBookDetail.publisher }}</td>
                  <td>{{ borrowBookDetail.priceBorrow }}</td>
                  <td>{{ borrowBookDetail.qty }}</td>
                  <td>{{ borrowBookDetail.total }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr *ngFor=" let borrowBook of borrowBooks">
                    <td colspan="4" class="hidden-xs"></td>
                    <th class="col">Total: {{borrowBook.total}}</th>
                    <th class="col">Status: {{borrowBook.status}}</th>
                    <th class="col"><button type="button" class="btn btn-sm bg-secondary" (click)="updateStatus(borrowBook)">Update status</button></th>

                </tr>
            </tfoot>
            </table>
          </div>
  
        </div>
      </div>
    </section>
  </div>