<form
  class="form-horizontal"
  autocomplete="off"
  #editCategoryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit Stock' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  
  <div class="modal-body">    
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
          {{ "Stock" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="number"
            class="form-control"
            name="stock"
            id="stock"
            maxlength=1000
            required
            [(ngModel)]="bookLibrary.stock"
            #nameModel="ngModel"
            #nameEl
          />
          <abp-validation-summary
            [control]="nameModel"
            [controlEl]="nameEl"
          ></abp-validation-summary>
        </div>
      </div>
    
  </div>
  
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editCategoryForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
